<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">The Transfer Network</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to The Transfer Network!</p>
    <%= image_tag("transfer_network_logo.jpg", class: "img-responsive", width: 350) %>
  </div>
</div>

